@{
  Layout = "_Layout";
}

@model BestRestaurant.Models.Restaurant

<h4>Add a new restaurant</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)

    @Html.LabelFor(model => model.Rating)
    @Html.TextBoxFor(model => model.Rating)

    @Html.Label("Cuisine Type")
    @Html.DropDownList("CuisineId")

    <input type="submit" value="Add new restaurant" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all restaurants", "Index")</p>