@{
  Layout = "_Layout";
}

@using BestRestaurant.Models;
@model IEnumerable<BestRestaurant.Models.Restaurant>;

<h1>Restaurants for @User.Identity.Name</h1>

<div class="content">
  @if (@Model.Any())
  {
    <div>
      @foreach (Restaurant restaurant in Model)
      {
        <h4>@Html.ActionLink($"{restaurant.Name}", "Details", new { id = restaurant.RestaurantId })</h4>
      }
    </div>
  }
  else
  {
    <h3>No restaurants have been added yet!</h3>
  } 
</div>


<div class="links">
  @if(ViewBag.Cuisines.Count != 0) {
    <p>@Html.ActionLink("Add new restaurant", "Create")</p>
  }

  <p>@Html.ActionLink("Home", "Index", "Home")</p>
</div>
