@{
  Layout = "_Layout";
}

@using BestRestaurant.Models;
@model IEnumerable<BestRestaurant.Models.Restaurant>;

<h1>Restaurants for @User.Identity.Name</h1>

@if (@Model.Any())
{
  <ul>
    @foreach (Restaurant restaurant in Model)
    {
      <li>@Html.ActionLink($"{restaurant.Name}", "Details", new { id = restaurant.RestaurantId })</li>
    }
  </ul>
}
else
{
  <h3>No restaurants have been added yet!</h3>
} 

@if(ViewBag.Cuisines.Count != 0) {
  <p>@Html.ActionLink("Add new restaurant", "Create")</p>
}

<p>@Html.ActionLink("Home", "Index", "Home")</p>