@{
  Layout = "_Layout";
}

@model BestRestaurant.Models.Review

<h1>Edit Review on @Model.Date</h1>

<div class="content">
  @using (Html.BeginForm("Update", "Reviews"))
  {
      @Html.HiddenFor(model => model.ReviewId)
      @Html.HiddenFor(model => model.Date)
      @Html.HiddenFor(model => model.Name)
      @Html.HiddenFor(model => model.RestaurantId)

      @Html.LabelFor(model => model.Rating)
      @Html.EditorFor(model => model.Rating)

      @Html.LabelFor(model => model.Text)
      @Html.EditorFor(model => model.Text)

      <input type="submit" value="Save" class='btn btn-default'/>
  }
</div>

<div class='links'>
  <p>@Html.ActionLink("Back to restaurant", "Details", "Restaurants", new { id = Model.RestaurantId })</p>
</div>
