@* @{
  Layout = "_Layout";
}

@model BestRestaurant.Models.Restaurant

<h2>Edit</h2>

<h4>Edit this restaurant: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm("Update", "Restaurants"))
{
    @Html.HiddenFor(model => model.ReviewId)
    @Html.HiddenFor(model => model.Date)
    @Html.HiddenFor(model => model.RestaurantId)

    @Html.LabelFor(model => model.Rating)
    @Html.EditorFor(model => model.Rating)

    @Html.LabelFor(model => model.Text)
    @Html.EditorFor(model => model.Text)

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to Restaurant", "Index")</p> *@