@{
  Layout = "_Layout";
}

@model BestRestaurant.Models.Review

<h2>Edit Review on @Model.Date</h2>

@using (Html.BeginForm("Update", "Reviews"))
{
    @Html.HiddenFor(model => model.ReviewId)
    @Html.HiddenFor(model => model.Date)
    @Html.HiddenFor(model => model.Name)
    @Html.HiddenFor(model => model.RestaurantId)

    @Html.LabelFor(model => model.Rating)
    @Html.EditorFor(model => model.Rating)

    @Html.LabelFor(model => model.Text)
    @Html.EditorFor(model => model.Text)

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to restaurant", "Details", "Restaurants", new { id = Model.RestaurantId })</p>