@{
  Layout = "_Layout";
}

@using BestRestaurant.Models;
@model BestRestaurant.Models.Cuisine;

<h1>@Html.DisplayFor(model => model.Type) Cuisine Details</h1>
<hr />
<div class="content">
  <h3>Restaurants:</h3>

  @if (@Model.Restaurants.Count == 0)
  {
    <p>No restaurants found</p>
  }

  @foreach (var join in @Model.Restaurants)
  {

    <h4>@Html.ActionLink($"{join.Restaurant.Name}", "Details", "Restaurants", new { id = join.Restaurant.RestaurantId })</h4>
  }
</div>


<div class="links">
  <p>@Html.ActionLink("Add restaurant", "Create", "Restaurants")</p>
  <p>@Html.ActionLink("Back to cuisines", "Index")</p>
  <p>@Html.ActionLink("Edit Cuisine", "Edit", new { id = Model.CuisineId })</p>
  <p>@Html.ActionLink("Delete Cuisine", "Delete", new { id = Model.CuisineId })<p>
</div>

